<ion-view view-title="Quimica">
  <ion-content>
    <h2><center>La importancia del agua en el ser humano</center></h2>
    <p><h4>El cuerpo está formado en más de un 65 por ciento por agua.</h4>
    </p> 
    <img src="../img/agua1.jpg" width="100%" height="205px">
   <h3>Acontinuacion mostraremos el siguiente video de la importancia del agua en el ser humano</h3>
   <center><div class="row">
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
</div><iframe width="560" height="315" 
src="https://www.youtube.com/watch?v=GdMkgexiHwk"  
allowfullscreen></iframe></center>
  </ion-content>
</ion-view>
