<ion-view view-title="ADN">
  <ion-content>
 <p><h4>El ADN es la macromolécula base de la herencia. Es un ácido nucleico que contiene la información de las características hereditarias de cada ser vivo y las secuencias para la creación de aminoácidos que generarán las proteínas vitales para el funcionamiento de los organismos.</h4></p>
  <img src="../img/adn2.jpg" width="100%" height="205px">
  <p><h4>Acontinuacion una interaccion 3D del ADN</h4></p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
  </ion-content>
</ion-view>
