<ion-view view-title="Quimica">
  <ion-content class="padding fondo">
    <h2><center class="letra">La importancia del agua en el ser humano</center></h2>
  <h4 class="t">El cuerpo está formado en más de un 65% por agua.</h4>
   <center><img src="../img/agua1.jpg" width="100%" height="400px"></center> 
   <h3 class="b">Acontinuacion mostraremos el siguiente video de 
   "La importancia del agua en el ser humano"</h3>
 <div class="row">
  <div class="col col-100"> <center><video class=" video-js vjs-16-9 vjs-big-play-centered" data-setup="{}" controls > <source src="../img/aguapura.mp4"> </video>
 <script> var reproductor = videojs('fm-video', { fluid: true }); </script> </center></div>
</div>
<h3>El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.

Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.</h3>
<h3>“La forma en que están unidos entre sí hace del agua este solvente universal maravilloso”, lo que significa que casi cada sustancia se disuelve en agua, dijo Glazer.</h3>
<center><img src="../img/agua3.jpg" width="100%" height="400px"></center> 
 </ion-content>
</ion-view>
