<ion-view view-title="ADN">
	<ion-content class="fondo2">
<center><h2>El ADN </h2></center>
 <h4>Es la macromolécula base de la herencia. Es un ácido nucleico que contiene la información de las características hereditarias de cada ser vivo y las secuencias para la creación de aminoácidos que generarán las proteínas vitales para el funcionamiento de los organismos.</h4>
 <img src="../img/adn2.jpg" width="100%" height="205px">
 <h4>Acontinuacion una interaccion 3D del ADN</h4>
<div class='dna'>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
</div>
<center><h2>"infografia de los Gametogénesis"</h2></center>
<h4>Es el proceso por el cual se forman los gametos. A partir de células germinales diploides, se originan gametos haploides mediante meiosis. Se lleva a cabo en cada una de las gónadas masculinas y femeninas. Dentro de este proceso se encuentra la gametogénesis masculina o espermatogénesis, y la femenina u ovogénesis.</h4>
 <img src="../img/gameto.gif" width="100%" height="500px">
		</ion-content>
</ion-view>